SatisfactorySaveEditor/Data/Types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TypeTooltip">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="TypeTooltip" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>

      <xs:attribute name="Type" type="xs:string"/>
      <xs:attribute name="Tooltip" type="xs:string"/>
    </xs:complexType>
  </xs:element>
</xs:schema>